@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.custom-bg{
    -webkit-appearance: none;
    background-color: #dee2e5;
    height: 6px;
}


input[type="range"] {
    -webkit-appearance: none; /* برای Safari و Chrome */
    appearance: none; /* برای Firefox */
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

/* استایل دهی به نوار پیشرفت در Chrome و Safari */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #f1f0f0; /* رنگ نوار پیشرفت */
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(50, 138, 72);
    border-radius: 50%;
    cursor: pointer;
}

/* استایل دهی به نوار پیشرفت در Firefox */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: blue; /* رنگ نوار پیشرفت */
    border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    cursor: pointer;
}