version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: epaal-frontend:latest
    container_name: epaal_frontend
    ports:
      - "3001:3001"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3001/"]
      interval: 30s
      timeout: 5s
      retries: 3
