@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.font-vazir {
  font-family: 'Vazir', sans-serif;
}
/* این استایل برای اعمال پس‌زمینه به input[type="range"] */
input[type="range"] {
  -webkit-appearance: none; /* Safari & Chrome */
  appearance: none; /* Firefox */
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: #ddd;
  outline: none;
  transition: background 0.2s ease;
}

/* اعمال پس‌زمینه رنگی */
input[type="range"]:focus {
  background: linear-gradient(to right, #1d434c 0%, #e5e7eb 0%);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: transparent; /* پس‌زمینه‌ای که از linear-gradient بهش میدیم */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: #1d434c 5px solid;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: transparent; /* پس‌زمینه‌ای که از linear-gradient بهش میدیم */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #1d434c;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
  
}

#bn {
  background-image: url("../../public/image/banner.png");
}


.hide-scrollbar {
  /* برای مرورگرهای Webkit مثل Chrome, Safari */
  scrollbar-width: none; /* برای Firefox */
  -ms-overflow-style: none; /* برای IE و Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
